.navbarcolor{
	background:#4f0381;
}

.logo-img{
	margin-left: 50px; 
	margin-top: -8px;
}

.text-titel{
	background-color: rgb(34, 34, 34);
	color: #F8C301;
	text-align: center;
	margin-top: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.col-kanan{
	width: 25%;
	margin-left: 24px;
	margin-right: -100px;
}
.col-tengah{
	width: 31%;
	margin-right: -10px;
}

.col-kiri{
	width: 41.66%;
	margin-left: 7px;
	margin-right: 11px; 
}

.body-kalender{
	background: #ffffff;  
	min-height: 250px;
	padding: 5px;	
}

.body-kegiatan{
	background: #ffffff;
	margin-top: 5px;
	padding: 5px;
	min-height: 250px;
}

.body-agenda-bupati{
	background: #ffffff;  
	min-height: 250px;
	padding: 5px;
}
.body-agenda-kominfo{
	background: #ffffff;
	margin-top: 5px;
	padding: 5px;
	min-height: 250px;
}

.body-agenda-pengumuman{
	background: #ffffff;  
	min-height: 250px;
	padding: 5px;	
}
.body-gallery{
	background: #ffffff;  
	min-height: 250px;
	padding: 5px;	
}

/* bottom start */
.navbar-fixed-bottom{
	background: #2929a3; 
	margin-bottom: -20px; 
	position: fixed; 
	height: 50px; 
	bottom: 0; 
	width: 100%;
}
.time-now{
	color: #FFF;
	padding-bottom: 2px;
	margin-top: 4px;
	margin-bottom: 3px;
}
.date-now{
	color: #FFF;
	padding-bottom: 2px;
	margin-top: 4px;
	margin-bottom: 3px;
}
/* bottom end */

.list-pengumuman{
	margin-left: 8px; 
	margin-right: 8px;
}

.linkpengumum{
	cursor: pointer;	
}

.prevv{
  cursor: pointer;
  position: absolute;  
  padding: 5px;
  margin: 0 0 2px 5px ;  
  color: black;
  font-weight: bold;
  font-size: 14px; 
  user-select: none;
  -webkit-user-select: none;
} 

/* On hover, add a black background color with a little bit see-through */
.prevv:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-decoration:none;
}
  
td, th {
	padding: 5px;
  } 


/* for small laptop*/
 @media only screen and (max-width: 1200px) {
 	.logo-img{
		margin-left: 15px; 
		margin-top: -8px;
	} 
 	.col-kiri{
		margin-left: 7px;
		margin-right: 7px; 
		width: 100%; 
		display: inline-flex;
	}

 	.body-kalender{
		width: 50%; 	
	}

	.body-kegiatan{
		display: inline-block;
		background: #fff;   
		margin-top: 0;
		margin-left: 10px;
		width: 50%; 
		min-height: 250px;
	}

	.col-tengah{
		margin-top: 10PX;
		margin-left: 7PX;
		margin-right: 7px;
		width: 100%; 
		display: inline-flex;
	}
	.body-agenda-bupati{
		width: 50%; 
		background: #ffffff;  
		min-height: 250px;
		padding: 5px; 
	}
	.body-agenda-kominfo{
		display: inline-block;
		background: #fff;   
		margin-top: 0;
		margin-left: 10px;
		width: 50%; 
		min-height: 250px;
	}

	.col-kanan{
		margin-top: 10PX;
		margin-left: 7PX;
		margin-right: 7px;
		width: 100%; 
		display: inline-flex;
	}
	.body-agenda-pengumuman{
		background: #ffffff;  
		min-height: 250px;
		padding: 5px;
		width: 50%;	
	}
	.body-gallery{
		background: #ffffff;  
		min-height: 250px;
		padding: 5px;
		margin-left: 10px;
		width: 50%;
		display: inline-block;	
	}

	.gal_home img {
	  width: 100%;
	  height: auto;
	  background-size: cover;
	}

	.col20{
		width: 5%;
	}
	.col80	{
		width: 80%;
	}

	.list-pengumuman{
		margin-left: 3px; 
		margin-right: 0;
	}

	.navbar-fixed-bottom{
		background: #2929a3; 
		margin-bottom: -20px; 
		position: fixed; 
		height: 50px; 
		bottom: 0; 
		width: 100%;
	}
}

/* for Phone */
 @media only screen and (max-width: 768px) {
 	.logo-img{
		margin-left: -11px; 
		margin-top: -8px;
	} 
	.row{
		/*display: list-item;*/
	}

 	.col-kiri{
 		display: block;
		margin-left: 7px;
		margin-right: 7px; 
		width: 100%;   
	}

 	.body-kalender{
		width: 97%; 	
		margin-right: 7px;
	}

	.body-kegiatan{ 
		background: #fff;   
		margin-top: 10px;
		margin-left: 0; 
		width: 97%; 
		min-height: 250px;
	}

	.col-tengah{
		margin-top: 10PX;
		margin-left: 7PX;
		margin-right: 7px;
		width: 100%;  
		display: block;
	}
	.body-agenda-bupati{
		width: 100%; 
		background: #ffffff;  
		min-height: 250px;
		padding: 5px; 
	}
	.body-agenda-kominfo{ 
		background: #fff;   
		margin-top: 10px;
		margin-left: 0;
		width: 100%; 
		min-height: 250px;
	}

	.col-kanan{
		margin-top: 10PX;
		margin-left: 7PX;
		margin-right: 7px;
		width: 100%;  
		display: block;
	}
	.body-agenda-pengumuman{
		background: #ffffff;  
		min-height: 250px;
		padding: 5px;
		width: 100%;	
	}
	.body-gallery{
		background: #ffffff;  
		min-height: 250px;
		margin-top: 10px;
		margin-left: 0;
		padding: 5px;
		width: 100%; 
	}

	.gal_home img {
	  width: 100%;
	  height: auto;
	  background-size: cover;
	}

	.col20{
		width: 5%;
	}
	.col80	{
		width: 80%;
	}

	.list-pengumuman{
		margin-left: 3px; 
		margin-right: 0;
	}

	.navbar-fixed-bottom{
		display: none;
	}
}

 
